.message {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.myMessage {
    padding-bottom: 10px;
}

.friendMessage {
    padding-top: 10px;
}

.textarea {
    width: 800px;
    padding-top: 20px;
}